WHALE_ALERT_API_KEY=
WHALE_ALERT_ENABLED=false
BINANCE_FUTURES_API_KEY=
BINANCE_FUTURES_API_SECRET=
MESSAGE_AGGREGATOR_ENABLED=true
MESSAGE_FILTER_KEYWORDS=
MESSAGE_MAX_ITEMS_PER_SOURCE=15
SIGNAL_MONITOR_FETCH_IMPL=powershell
SIGNAL_MONITOR_TIMEOUT_MS=12000
SIGNAL_MONITOR_GDELT_ENABLED=false
SIGNAL_ACTIVE_DECISION_DELAY_MS=5000
SIGNAL_IDLE_DECISION_DELAY_MS=30000
SIGNAL_MAX_DECISION_BACKOFF_MS=120000
SIGNAL_PRICE_EVENT_COALESCE_MS=100
SIGNAL_SERVICE_STALE_SECONDS=5
SIGNAL_AGGREGATOR_REFRESH_MS=30000
SIGNAL_GDELT_REFRESH_MS=60000
SIGNAL_POLYMARKET_REFRESH_MS=10000
SIGNAL_ANNOUNCEMENT_REFRESH_MS=60000
SIGNAL_WHALE_REFRESH_MS=15000
SIGNAL_BINANCE_RULES_REFRESH_MS=3600000
